<a href="https://colab.research.google.com/github/Rithika2407/ML-LAB1/blob/main/ML_labtask1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#importing data
import numpy as np
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

In [5]:
Teams= pd.read_excel('/content/Teams.xlsx')
Coaches=pd.read_excel("/content/Coaches.xlsx")
Athletes=pd.read_excel("/content/Athletes.xlsx")
Gender=pd.read_excel("/content/EntriesGender.xlsx")
Medals=pd.read_excel("/content/Medals.xlsx")

/usr/local/lib/python3.10/dist-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/usr/local/lib/python3.10/dist-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

Teams data

# New Section

In [6]:
print(Teams.head())
print("Number of rows and columns are :", Teams.shape)
print()
print( "Info about Teams :")
print(Teams.info())
print("Number of unique Team :")
print(Teams.nunique())
print("number of duplicate rows :" ,Teams.duplicated().sum())
print()
print("number of missing values : " )
print(Teams.isnull().sum())

      Name      Discipline                         NOC  Event
0  Belgium  3x3 Basketball                     Belgium    Men
1    China  3x3 Basketball  People's Republic of China    Men
2    China  3x3 Basketball  People's Republic of China  Women
3   France  3x3 Basketball                      France  Women
4    Italy  3x3 Basketball                       Italy  Women
Number of rows and columns are : (743, 4)

Info about Teams :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 743 entries, 0 to 742
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        743 non-null    object
 1   Discipline  743 non-null    object
 2   NOC         743 non-null    object
 3   Event       743 non-null    object
dtypes: object(4)
memory usage: 23.3+ KB
None
Number of unique Team :
Name          146
Discipline     20
NOC            84
Event          36
dtype: int64
number of duplicate rows : 0

number of missing values :
Name          0
Discipline    0
NOC           0
Event         0
dtype: int64

Coaches data

In [7]:
print(Coaches.head())
print("Number of rows and columns are :",Coaches.shape)
print()
print( "Info about Coaches :")
print(Coaches.info())
print("Number of unique Coaches :")
print(Coaches.nunique())
print("number of duplicate rows :" ,Coaches.duplicated().sum())
print()
print("number of missing values : " )
print(Coaches.isnull().sum())

              Name            NOC  Discipline Event
0  ABDELMAGID Wael          Egypt    Football   NaN
1        ABE Junya          Japan  Volleyball   NaN
2    ABE Katsuhiko          Japan  Basketball   NaN
3     ADAMA Cherif  CÃ´te d'Ivoire    Football   NaN
4       AGEBA Yuya          Japan  Volleyball   NaN
Number of rows and columns are : (394, 4)

Info about Coaches :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 394 entries, 0 to 393
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        394 non-null    object
 1   NOC         394 non-null    object
 2   Discipline  394 non-null    object
 3   Event       249 non-null    object
dtypes: object(4)
memory usage: 12.4+ KB
None
Number of unique Coaches :
Name          381
NOC            61
Discipline      9
Event           6
dtype: int64
number of duplicate rows : 1

number of missing values :
Name            0
NOC             0
Discipline      0
Event         145
dtype: int64

Athletes data

In [8]:
print(Athletes.head())
print("Number of rows and columns are :",Athletes.shape)
print()
print( "Info about Athletes :")
print(Athletes.info())
print("Number of unique Athletes :")
print(Athletes.nunique())
print("number of duplicate rows :" ,Athletes.duplicated().sum())
print()
print("number of missing values : " )
print(Athletes.isnull().sum())

                Name     NOC           Discipline
0    AALERUD Katrine  Norway         Cycling Road
1        ABAD Nestor   Spain  Artistic Gymnastics
2  ABAGNALE Giovanni   Italy               Rowing
3     ABALDE Alberto   Spain           Basketball
4      ABALDE Tamara   Spain           Basketball
Number of rows and columns are : (11085, 3)

Info about Athletes :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11085 entries, 0 to 11084
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        11085 non-null  object
 1   NOC         11085 non-null  object
 2   Discipline  11085 non-null  object
dtypes: object(3)
memory usage: 259.9+ KB
None
Number of unique Athletes :
Name          11062
NOC             206
Discipline       46
dtype: int64
number of duplicate rows : 1

number of missing values :
Name          0
NOC           0
Discipline    0
dtype: int64

EntriesGender_Data

In [9]:
print(Gender.head())
print("Number of rows and columns are :",Gender.shape)
print()
print( "Info about EntriesGender :")
print(Gender.info())
print("Number of unique EntriesGender:")
print(Gender.nunique())
print("number of duplicate rows :" ,Gender.duplicated().sum())
print()
print("number of missing values : " )
print(Gender.isnull().sum())

            Discipline  Female  Male  Total
0       3x3 Basketball      32    32     64
1              Archery      64    64    128
2  Artistic Gymnastics      98    98    196
3    Artistic Swimming     105     0    105
4            Athletics     969  1072   2041
Number of rows and columns are : (46, 4)

Info about EntriesGender :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46 entries, 0 to 45
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Discipline  46 non-null     object
 1   Female      46 non-null     int64
 2   Male        46 non-null     int64
 3   Total       46 non-null     int64
dtypes: int64(3), object(1)
memory usage: 1.6+ KB
None
Number of unique EntriesGender:
Discipline    46
Female        38
Male          41
Total         41
dtype: int64
number of duplicate rows : 0

number of missing values :
Discipline    0
Female        0
Male          0
Total         0
dtype: int64

Medals data

In [10]:
print(Medals.head())
print("Number of rows and columns are :",Medals.shape)
print()
print( "Info about Medals :")
print(Medals.info())
print("Number of unique Medals:")
print(Medals.nunique())
print("number of duplicate rows :" ,Medals.duplicated().sum())
print()
print("number of missing values : " )
print(Medals.isnull().sum())

   Rank                    Team/NOC  Gold  Silver  Bronze  Total  \
0     1    United States of America    39      41      33    113
1     2  People's Republic of China    38      32      18     88
2     3                       Japan    27      14      17     58
3     4               Great Britain    22      21      22     65
4     5                         ROC    20      28      23     71

   Rank by Total
0              1
1              2
2              5
3              4
4              3
Number of rows and columns are : (93, 7)

Info about Medals :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93 entries, 0 to 92
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Rank           93 non-null     int64
 1   Team/NOC       93 non-null     object
 2   Gold           93 non-null     int64
 3   Silver         93 non-null     int64
 4   Bronze         93 non-null     int64
 5   Total          93 non-null     int64
 6   Rank by Total  93 non-null     int64
dtypes: int64(6), object(1)
memory usage: 5.2+ KB
None
Number of unique Medals:
Rank             67
Team/NOC         93
Gold             14
Silver           17
Bronze           21
Total            30
Rank by Total    30
dtype: int64
number of duplicate rows : 0

number of missing values :
Rank             0
Team/NOC         0
Gold             0
Silver           0
Bronze           0
Total            0
Rank by Total    0
dtype: int64